
body{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color:#eee;
}

.search{
  width:100%;
  height:3em;
  border-radius: 10px;
  box-shadow:4px 4px 4px black;
  border-style: none;
  background-color: transparent;
  color:white;
  padding-left: 10px;
}
.City,.NotFound{
  color:black;
  margin-top: 50px;
  border-radius: 15px;
  text-align: center;
  font-size:50px;
  background-color: grey;
  opacity:0.5;
  box-shadow: 4px 4px 4px black;

}


.temperature{
  color:blue;
  font-size: 60px;
  text-Align: center;
  Margin-top: 20px;
  text-shadow:4px 4px 4px grey;
}
.description{
  color:black;
  font-size: 60px;
  text-Align: center;
  Margin-top: 20px;
  text-shadow:4px 4px 4px grey;
}
.hotbackground{
  background-image: url("../assets/chaud.jpg");
  height: 600px;
  background-repeat: round;
  width:auto;
  padding: 20px 50px;
  animation: softTrans 1s ease-in forwards;
  transition:background-image 1s ease-in;
  border:1px black solid;
  box-shadow: 2px 2px 2px black;
  margin-top: 20px;
}

.coldbackground{
  background-image: url("../assets/cold.jpg");
  height:600px;
  background-repeat: round;
  width:auto;
  padding: 20px 50px;
  animation: softTrans 1s ease-in forwards;
  transition:background-image 1s ease-in;
  border:1px black solid;
  box-shadow: 2px 2px 2px black;
  margin-top: 20px;
}
.searchButton{

  width:100%;
  height:2em;
  border-radius: 10px;
  box-shadow:4px 4px 4px black;
  border:1px solid black;
  background-color: rgb(100,100,100,0.5);
  color:white;
  cursor:pointer;
  margin-top: 20px;
}
@keyframes softTrans {
  from{
    transform: scale(0.7);
  }
  to{
    transform:scale(1);
  }
}
